<div class="row">
  <div class="container">
    {% for skill in skills %}
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="progress skill-bar">
          <div class="progress-bar progress-bar b{{ skill.color }}" role="progressbar" aria-valuenow="{{ skill.mastery }}" aria-valuemin="0" aria-valuemax="100">
            <span class="skill" style="color:black;">{{ skill.name }}
            <i class="val">{{ skill.mastery }}</i>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>