{{ include('includes/header/menu.html.twig') }}

<div class="container-fluid bgc-header">
<div class="container">
  <div class="row">
    <figure class="col-sm-6 col-lg-offset-1 col-lg-4 text-center">
      <img src="../assets/img/avatar.png" alt="avatar de rémy" style="width:70%">
    </figure>
    <div class="col-sm-offset-1 col-sm-5 col-lg-offset-1 col-lg-6">
      <ol>
        <li>Hello world !</li>
        <li>Je suis <strong><span class="vert">Rémy Mozelle</span></strong></li>
        <li><span class="bleu">apprenti developpeur </span><a target="_blank" href="http://simplon.reunion.fr" class="orange">Simplonien</a></li>
      </ol>
      <div class="rs">
        <figure><a target="_blank" href="https://github.com/RemyMozelle/"><img src="../assets/img/contact/rs-git.png" alt="github de rémy"></a></figure>
        <figure><a href=""><img src="../assets/img/contact/rs-twitter.png" alt="twitter de rémy"></a></figure>
        <figure><a target="_blank" href="https://www.linkedin.com/in/r%C3%A9my-mozelle-801ab8154/"><img src="../assets/img/contact/rs-lin.png" alt="linkdin de rémy"></a></figure>
      </div>
    </div>
  </div>
</div>
</div>