<div class="icon-portfolio"></div>
<div class="container-fluid portfolio">
  <div class="container">
    <figure>
      <img class="fix-icon" src="../assets/img/icon-portfolio.png" alt="">
        <h2 class="bleu"><span><<span> Porfolio</span> /></span></h2>
        <p class="blanc">Intégration web, bout de code, Javascript, php</p>
    </figure>
    <hr>
    {{ include('includes/portfolio/card.html.twig') }}
  </div>
</div>